body {
    height:100vh;
}

.input {
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

input {
    height:30px;
}

.email, .password {
    display:flex;
}

button {
    width:145px;
    height:20px;
}

.box{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    border:2px solid gray;
}






